In [130]:
import pandas as pd
from collections import Counter

In [3]:
data = pd.read_csv("names_data_candidate.csv")

In [99]:
data.dirty_name = data.dirty_name.apply(lambda x: x.lower())

In [100]:
data.sample(frac=1.0).head(5)

               dirty_name dirty_label
1567    dumisani williams      Person
3321    jabulani harrison      Person
987   hon. ingrid jordaan      Person
1191      merola verrills      Person
3177       nicol flacknoe      Person

In [9]:
pd.unique(data.dirty_label)

array(['Person', 'Company', 'University'], dtype=object)

In [101]:
person = data[data.dirty_label== 'Person']
company = data[data.dirty_label== 'Company']
university = data[data.dirty_label== 'University']

In [102]:
person.shape, university.shape, company.shape

((3690, 2), (98, 2), (732, 2))

In [109]:
vectorizer_per = dict(Counter(person.dirty_name.to_list()))
vectorizer_com = dict(Counter(company.dirty_name.to_list()))
vectorizer_uni = dict(Counter(university.dirty_name.to_list()))

In [167]:
def word_count_fun(dictionary):
    list_vec = list(dictionary.keys())
    full_list = []
    for x in list_vec:
        x1 = x.split()
        for x2 in x1:
            full_list.append(x2)
    return  full_list

In [173]:
count_per =pd.DataFrame(list(dict(Counter(word_count_fun(vectorizer_per))).items()),columns = ['names','counting'])\
                                    .sort_values("counting", ascending=False)

count_com =pd.DataFrame(list(dict(Counter(word_count_fun(vectorizer_com))).items()),columns = ['names','counting'])\
                                    .sort_values("counting", ascending=False)

count_uni =pd.DataFrame(list(dict(Counter(word_count_fun(vectorizer_uni))).items()),columns = ['names','counting'])\
                                    .sort_values("counting", ascending=False)

In [196]:
university_list = ['université', 'university', 'universitas', 'universitaria', 'universidade', 'universidad',\
                   'tecnológica', 'technology','science', 'school', "medicine",'instituto', 'institute',
                  "health", 'educativas', 'education', 'academy']
company_list = ['ltd', 'pty', 'pl', 'co.', 'cc', 'ltd.', 'limited', 'gmbh''trust', 'co', 'fund', '(pty)', \
                'group', 'family', 'inc.','company', 'consortium','inc', 'c.c.', 'limited.', 'unltd', 'cc.', \
                'llc.', 'corp.', 'funds', 'pllc.', 'services', 'partnership', 'corp', '(ltd).', 'trading',\
               "proprietary", 'lda.', 'lda', 'investments', 'trudoo', '(ltd)', 'capital',  'associates', \
                "sicav", 'plc.', 'plc', 'incorporated', 'l.l.p',]

person_list = ['miss', 'dr.', 'prof.', 'dr', 'mr.', 'mr', 'mrs', 'mrs.', 'van','hon.', 'rev.', 'ms', 'sr.', \
               'ms.']

In [84]:
type(vectorizer_uni.vocabulary_)

dict

In [188]:
count_com[count_com.counting>3]["names"].values

array(['ltd', 'pty', 'pl', 'co.', 'cc', 'ltd.', 'gmbh', 'limited',
       'trust', 'co', 'fund', '(pty)', 'group', 'family', 'dr.', 'inc.',
       'company', 'consortium', '&', 'l.p.', 'and', 'miss', 'fd', 'inc',
       'c.c.', 'prof.', 'limited.', 'edgeclub', 'jv', 'mrs', 'unltd',
       'cc.', 'llc.', 'corp.', 'funds', 'pllc.', 'services', 'africa',
       'mr.', 'bond', 'partnership', 'corp', '(ltd).', 'sr.', 'mydo',
       'trading', 'proprietary', 'mrs.', 'lda.', 'topiczoom',
       'investments', 'trudoo', 'soc.col', 'mr', 'of', '(ltd)', 'dr',
       'capital', 'ms.', 'sicav', 'oyonder', 'associates', 'flashdog',
       'zazio', 'cogilith', 'bubblemix', 'yodel', 'gabtype', 'topicstorm',
       'van', 'zoomlounge', 'mynte', 'plc.', 'realcube', 's.p.',
       'feedfire', 'linktype', 'skidoo', 'skalith', 'quinu', 'devcast',
       'linkbridge', 'yadel', 'incorporated', 'skinix', 'jazzy',
       'private', 'meevee', 'skyvu', 'youopia', 'plc', 'roodel', 'tekfly',
       'viva', 'layo', 'trilith', 'avamm', 'corporation', 'eayo',
       'tagchat', 'twitterlist', 'innotype', 'asia', 'pixonyx', 'rooxo',
       'thoughtbeat', 'zooxo', 'dabvine', 'brainsphere', 'vimbo',
       'yambee', 'wordify', 'stg', 'feedmix', 'shufflebeat', 'thandi',
       'l.l.p', 'youspan', 'bubblebox', 'brainverse', 'lazz', 'janyx',
       'zoombeat', 'yozio', 'foundation', 'photospace', 'devbug',
       'meembee', 'linkbuzz', 'holdings', 'yakitri', 'linq', 'meedoo',
       'african', 'eire', 'linklinks', 'camido', 'realbuzz'], dtype=object)

In [195]:
count_per[count_per.counting>40]["names"].values

array(['miss', 'dr.', 'prof.', 'dr', 'mr.', 'mr', 'mrs', 'mrs.', 'van',
       'hon.', 'rev.', 'ms', 'sr.', 'ms.'], dtype=object)

In [198]:
a3 = ["Just", "making","that", "has", "the", "and", "I"]
for i in "this is the sentece I".split():
    if i in a3:
        print(i)

the
I

In [231]:
def mapping_func(dirtyname):
    return_value = ''
    for i in dirtyname.split():
        #print(i)
        if i in university_list:
            return_value =  "University"
            break
        elif i in company_list:
            return_value = "Company"
            break
        elif not return_value:
            return_value = "Person"
        
    return return_value

In [228]:
mapping_func("ms sydney hadebe ")

ms
sydney
hadebe

'Person'

In [232]:
data["semi_clean_label"] = data.dirty_name.apply(mapping_func)

In [233]:
data

                dirty_name dirty_label semi_clean_label
0           wright pentlow      Person           Person
1         ms sydney hadebe      Person           Person
2     prof. hennie vorster      Person           Person
3            enrica hayter      Person           Person
4             teboho ngema      Person           Person
...                    ...         ...              ...
4515            duff forre      Person           Person
4516    dr mr. neil morgan      Person           Person
4517      hon. thandi move      Person           Person
4518           thandi move      Person           Person
4519       mr. thandi move      Person           Person

[4520 rows x 3 columns]

In [203]:
print(pd.unique(data.dirty_label), pd.unique(data.semi_clean_label))

['Person' 'Company' 'University'] ['Person' 'University' 'Company']

In [234]:
data[(data.dirty_label != data.semi_clean_label)]

,dirty_name,dirty_label,semi_clean_label
14,imibono fuels,Company,Person
17,prof. frederick turner,Company,Person
23,kenny coursor,Company,Person
28,keeley gabbidon,Company,Person
32,photospace topicstorm bubbletube zoomlounge f...,Company,Person
...,...,...,...
4461,blue sky leisure developments (pty) ltd,Person,Company
4498,marie-josée rowsel,Company,Person
4510,fikile ndebele,Company,Person
4511,fikile ndebele,Company,Person
4512,fikile m ndebele,Company,Person